<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73811421057-e3l4u9uru40so413utrfheaf276c1j5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73811421057-e3l4u9uru40so413utrfheaf276c1j5s</string>
	<key>API_KEY</key>
	<string>AIzaSyCzV2Kt9CzR3lAv56qly5tlVjaQp_ud0WI</string>
	<key>GCM_SENDER_ID</key>
	<string>73811421057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.albertotalavan.CapstoneRW20</string>
	<key>PROJECT_ID</key>
	<string>capstonerw20</string>
	<key>STORAGE_BUCKET</key>
	<string>capstonerw20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73811421057:ios:5a12311ce66241351cea80</string>
	<key>DATABASE_URL</key>
	<string>https://capstonerw20.firebaseio.com</string>
</dict>
</plist>